@import "./reset.css";
@import "./variables.css";

body {
  font-family: var(--f-primary);
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 45em) {
  main {
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
    grid-template-areas:
      "heroImage heroImage heroContent heroContent heroContent"
      "image1 about about about image2";
  }
}
