

.menuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.menuBtnBurger {
  width: 30px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menuBtnBurger::before,
.menuBtnBurger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menuBtnBurger::before{
    transform: translateY(-8px); 
}

.menuBtnBurger::after{
    transform: translateY(8px);
}

.menuBtn.open .menuBtnBurger{
transform: translateX(-50px); 
background: transparent; 
box-shadow: none; 
}

.menuBtn.open .menuBtnBurger::before{
    transform: rotate(45deg) translate(35px, -35px); 
    background: rgb(188, 188, 188);
}

.menuBtn.open .menuBtnBurger::after{
    transform: rotate(-45deg) translate(35px, 35px); 
    background: rgb(188, 188, 188);
}